@font-face{
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Regular.ttf');
  font-weight: 400;
}
@font-face{
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Light.ttf');
  font-weight: 200;
}
@font-face{
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Bold.ttf');
  font-weight: 600;
}
body {
  margin: 0;
  font-family: 'Roboto Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
