.video{
    width: 100%;
    .videoC{
        width: 70%;
        margin-left: 25%;
        padding-top: 10%;
        iframe{
            width:90%;
            height: 60vh;
        }
        .link {
            text-decoration: none;
        }
    }
}